<div class="row">
  <div class="col-md-2">
    <% render "public/searches/genre_sidebar", genres: @genres %>
  </div>
  <div class="col-md-10">
    <div class="contai">
      
    </div>
  </div>
</div>